h1, h2, h3, h4, h5 {
    color: #111111;
    /* padding-top: 1em; */
}

p, ul, .content-header, .content-content, .font {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.8rem;
    color: #575855;
    width: 100%;
}

h1 {
    font-family: 'Trocchi', serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 3.1rem;
    margin: 0;
}

.subheader {
    font-size: 1.7rem;
    font-weight: 300;
    /* margin: 0 0 24px; */
}